.active {
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
    font-size: 20px;
}
.active::selection {
    color: black;
    background-color: yellow;
  }
  @media screen and (max-width: 768px) {
    ul {
 
       }
    ul li {
    width: 90%;
    padding-bottom: 5px;
    text-align: left;
    border-bottom: solid #eee 1px;
   }
   ul li:nth-child(5) {
    border-bottom: none;
   }
  
  }